<% if @profile.byline %>
  <h2><%= @profile.byline %></h2>
<% end %>
<% if @profile.website %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">Website</div>
    <div class="well col-md-6"><%= @profile.website %></div>
  </div>
<% end %>
<% if @profile.about %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">About</div>
    <div class="well col-md-6"><%= @profile.about %></div>
  </div>
<% end %>
